<head>
  <% provide(:title, "Edit Genre | Mean Review") %>
  <style>
    #overflow {overflow: hidden;}
  </style>
</head>
<body>
  <div id="overflow">

    <%= render partial: 'form', locals: { genre: @genre } %>

  </div>
</body>
