<head>
  <% provide(:title, "Edit Genre | Mean Review") %>
  <style>#overflow {overflow: hidden;}</style>
</head>
<body>

  <br /><h2 class="title">New Genre</h2><br />

  <div id="overflow">

    <%= render partial: 'form', locals: { genre: @genre } %>

  </div>
</body>
