<head>
  <% provide(:title, "New Genre | Mean Review") %>
  <style>#overflow {overflow: hidden;}</style>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title">New Genre</h2><br />
    <div id="overflow">

      <%= render partial: 'form', locals: { genre: @genre } %>

    </div>
  </div>
</body>
