<head>
  <% provide(:title, "New User | Mean Review") %>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title">New User</h2><br />

    <%= render partial: 'form', locals: { user: @user } %>

    <h3 class="title">Or</h3><br />

    <div class="oauth">
      <%= link_to(image_tag("/assets/facebook_register.png", size: "257x53"), "auth/facebook") %>
    </div><br />
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
