<% provide(:title, "New User | Mean Review") %>

<h2>New User</h2>

<%= render partial: 'form', locals: { user: @user } %>

<div class="oauth">
  <%= link_to('Log in with Facebook', '/auth/facebook') %>
</div><br />

<div class="links">
  <%= link_to 'Cancel', :back %>
</div>
