<head>
  <% provide(:title, "About | Mean Review") %>
</head>
<body>
  <main style="width:950px; margin:0 auto;"><br />
    <br /><h2 class="title">Project Disclamier</h2><br />

    <h3>I do not recieve any income from this site.</h3><br />

    <h3>The opinions expressed here are not my own and have been drawn from
     professional critics, which have been cited as such, along with the source or the
     publication that employs/employed them.</h3><br />

     <h3>For reasons of copyright it is my intention that the content of this website is not
       publication and only accessible by a password/email combination provided to potential
       employers; so as to exhibit my ability to construct a functional web application.</h3>
       <br />
  </main>
</body>
