<head>
  <% provide(:title, "Edit Writer | Mean Review") %>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title"><%= "Edit: #{@writer.name}" %></h2><br />

    <%= render partial: 'form', locals: { writer: @writer } %><br />

  </div>
</body>
