<% provide(:title, "Critics | Mean Review") %>

<h2>Writers and Critics</h2>

<div class="list">
  <% @writers.each do |critic| %>
    <b><%= link_to critic.name, writer_path(critic) %></b> |
    <%= critic.publication %> |
    <b>Last Review <%= link_to critic.lastest_review.title, review_path(critic.lastest_review) %></b><br /><br />
  <% end %>
</div>
