<head>
  <% provide(:title, "New Writer | Mean Review") %>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title">New Writer</h2><br />

    <%= render partial: 'form', locals: { writer: @writer } %><br />

  </div>
</body>
