<% provide(:title, "New Writer | Mean Review") %>

<br /><h2 class="title">New Writer</h2><br />

<%= render partial: 'form', locals: { writer: @writer } %><br />

<div class="links">
  <%= link_to 'Cancel', :back %>
</div>
