body {height: 500px; padding-top: 51px;}
#bar li a {
  line-height: 40px;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
}
#right {padding-right: 129px;}
#bar {background-color: #333333;}
#bar {border-color: #333333;}
.navbar-brand {position: relative; top: -16px; padding-left: 113px;}
#bar .navbar-nav>li>a {color: #fff;}
#bar .navbar-nav>li>a:hover {color: #9c7814;}
#searchbox {padding-top: 18px;}
