html, body {
  height: 100%;
}

body {
  background-image: url(/assets/zz-wallpaper.jpg);
  background-size: cover;
}

.title {
  font-family: "Impact", Arial, sans-serif;
}

.message {}

.interface {
  height: 100%;
  overflow: hidden;
  margin-left: 211px;
  margin-top: 20px;
  padding-bottom: 100px
}

.actions a {
  float:left;
  margin-right: 20px;
}
