<head>
  <% provide(:title, "Edit #{@review.title} | Mean Review") %>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title"><%= "Edit: #{@review.title} (#{@review.year})" %></h2><br />

    <%= render partial: 'form', locals: { review: @review } %><br />

  </div>
</body>
