<head>
  <% provide(:title, "New Review | Mean Review") %>
</head>
<body>
  <div class="interface">
    <br /><h2 class="title">New Review</h2><br />

    <%= render partial: 'form', locals: { review: @review } %><br />

  </div>
</body>
