<head>
  <style>
    address {line-height: 37px; margin-left: 100px; font-family: "Helvetica", Arial, sans-serif; font-size: 14px;}
    address>p {color: #fff;}
    .foot {background-color: #333333;}
    .foot {position: fixed; height: 40px; bottom: 0;width: 100%;}
    #flag {margin-top: 9px; margin-right: 105px; height: 20px; width: auto; float: right;}
  </style>
</head>
<div class="foot">
  <address>
    <p>
      Submissions <a href="submissions@themeanreview.io">submissions@themeanreview.io</a>&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp
      Contact <a href="team@themeanreview.io">team@themeanreview.io</a>&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp
      The Mean Review &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp PO Box 55 &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp Dallas &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp TX 75201 &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp+1 (555) 555-5555
      <%= image_tag("/assets/usflag.jpg", id: "flag") %>
    </p>
  </address>
</div>
